:root {
  --font-oswald-header-xlarge: 400 36px/40px "Oswald", sans-serif;
  --font-oswald-header-large: 400 36px/36px "Oswald", sans-serif;
  --font-oswald-header-medium: 400 24px/37px "Oswald", sans-serif;
  --font-oswald-header-small: 400 24px/26px "Oswald", sans-serif;
  --font-oswald-header: 400 24px/24px "Oswald", sans-serif;
  --font-oswald-xlarge: 400 16px/20px "Oswald", sans-serif;
  --font-oswald-large: 400 16px/18px "Oswald", sans-serif;
  --font-oswald-base: 400 16px/16px "Oswald", sans-serif;
  --font-oswald-small-high: 400 14px/20px "Oswald", sans-serif;
  --font-oswald-small-average: 400 14px/18px "Oswald", sans-serif;
  --font-oswald-small-low: 400 14px/14px "Oswald", sans-serif;
  --font-lato-xlarge: 400 16px/20px "Lato", sans-serif;
  --font-lato-large: 400 14px/20px "Lato", sans-serif;
  --font-lato-base: 400 14px/18px "Lato", sans-serif;
  --font-lato-base-average: 400 14px/16px "Lato", sans-serif;
  --font-lato-base-small: 400 14px/14px "Lato", sans-serif;
  --font-lato-small-high: 400 12px/16px "Lato", sans-serif;
  --font-lato-small-low: 400 12px/12px "Lato", sans-serif;
  --color-background-brand: #68b738;
  --color-background-brand-dark: #5eaa2f;
  --color-background-primary: #ffffff;
  --color-background-secondary: #f2f2f2;
  --color-background-tertiary: #eaeaea;
  --color-text-primary: #000000;
  --color-text-secondary: #444444;
  --color-text-tertiary: #ffffff;
  --color-text-quaternary: #111111;
  --color-text-fivefold: #222222;
  --color-button: #68b738;
  --color-button-light: #f2f2f2;
  --color-border: #d9d9d9;
  --color-border-light: #e6e6e6;
  --color-border-catalog: #ebebeb;
  --color-border-extra: #cdcdcd;
  --color-border-showmore: #f2f2f2;
  --color-slider: #666666;
  --color-social-icon: #666666;
  --color-input-quiet: #e7e7e7;
  --color-input-hover: #cdcdcd;
  --color-input-focus: #444444;
  --color-input-error: #ff8282;
  --color-plus-showmore: #d3d3d3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/lato/Lato-Regular.woff") format("woff"), url("../../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../../fonts/oswald/oswaldmedium.woff") format("woff"), url("../../../fonts/oswald/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../../fonts/oswald/oswaldregular.woff") format("woff"), url("../../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
.page {
  height: 100dvh;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: var(--color-text-primary);
  background-color: var(--color-background-primary);
}

.button {
  font: var(--font-oswald-xlarge);
  text-transform: uppercase;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  color: var(--color-text-tertiary);
  background-color: var(--color-button);
}

.button--light {
  color: var(--color-text-secondary);
  background-color: var(--color-button-light);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  box-sizing: border-box;
}

.main-container {
  flex-grow: 1;
}

.main-container__diet-plans {
  margin-bottom: 20px;
}

.main-container__advantages {
  margin-bottom: 49px;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 13px 20px 15px;
}

.header__logo {
  margin-right: 56px;
}

.header__logo-letters {
  margin-right: 65px;
}

.header__logo-name {
  width: 101px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header--alternative {
  border-bottom: 1px solid var(--color-border);
}

.navigation__toggle {
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: var(--color-background-primary);
}

.hero {
  background-image: url("../../../img/background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  position: relative;
  padding: 27px 10px 20px;
}
.hero::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 302px;
  left: 0;
  top: 0;
  background-color: var(--color-background-brand);
  opacity: 85%;
}

.hero__title {
  margin: 0;
  font: var(--font-oswald-header-large);
  text-align: center;
  margin-bottom: 25px;
  color: var(--color-text-tertiary);
  z-index: 1;
  position: relative;
}

.hero__description {
  margin: 0;
  font: var(--font-oswald-small-low);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--color-text-tertiary);
  z-index: 1;
  position: relative;
}

.hero__link {
  display: block;
  width: 280px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
}

.hero__image {
  display: block;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.diet-plans__container {
  padding: 0 20px;
}

.diet-plans__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.diet-plans__item {
  background-color: var(--color-background-secondary);
  padding: 0 20px 18px;
}

.diet-plans__title {
  margin: 0;
  font: var(--font-oswald-header-medium);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
  color: var(--color-text-primary);
}

.diet-plans__description {
  margin: 0;
  font: var(--font-lato-base);
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text-secondary);
}

.diet-plans__link {
  font: var(--font-oswald-base);
  display: block;
  text-transform: uppercase;
  position: relative;
  color: var(--color-text-primary);
}

.diet-plans__link::after {
  position: absolute;
  display: block;
  content: "";
  width: 32px;
  height: 10px;
  background-image: url("../../../img/icon-arrow.svg");
  background-repeat: no-repeat;
  left: 102px;
  top: 3px;
}

.advantages__container {
  padding: 0 20px;
}

.advantages__title {
  margin: 0;
  font: var(--font-oswald-header-xlarge);
  margin-bottom: 40px;
  color: var(--color-text-primary);
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font: var(--font-lato-base);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--color-text-secondary);
}

.example__container {
  background-color: var(--color-background-tertiary);
  padding: 0 20px;
}

.example__title {
  margin: 0;
  font: var(--font-oswald-header-xlarge);
  padding-top: 25px;
  margin-bottom: 40px;
  color: var(--color-text-primary);
}

.example__description {
  margin: 0;
  font: var(--font-lato-base);
  margin-bottom: 20px;
  color: var(--color-text-secondary);
}

.example__cost {
  font: var(--font-oswald-small-high);
  text-transform: uppercase;
  margin: 20px 0;
  color: var(--color-text-primary);
}

.example__result {
  font: var(--font-oswald-header);
  color: var(--color-text-primary);
}

.example__parameter {
  font: var(--font-lato-small-low);
  color: var(--color-text-secondary);
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  min-width: 128px;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 20px;
}

.page-footer__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  background-color: var(--color-background-secondary);
}

.page-footer__partner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__partner-link {
  font: var(--font-lato-xlarge);
  color: var(--color-text-secondary);
}

.page-footer__contacts--dark {
  background-color: var(--color-background-secondary);
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 20px;
}

.contacts {
  padding: 26px 20px 26px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.contacts__invitation {
  margin: 0;
  font: var(--font-oswald-xlarge);
  text-transform: uppercase;
  color: var(--color-text-quaternary);
}

.contacts__address {
  font: var(--font-lato-large);
  color: var(--color-text-secondary);
}

.products-catalog {
  padding-top: 27px;
  padding-bottom: 26px;
}

.products-catalog__title {
  margin: 0;
  font: var(--font-oswald-header-large);
  margin-bottom: 41px;
  text-align: center;
  color: var(--color-text-primary);
}

.products-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products-catalog__item {
  border-top: 1px solid var(--color-border-catalog);
  padding: 20px 20px 25px;
}

.produsts-catalog__promo {
  padding-bottom: 35px;
}

.product-card__content {
  display: flex;
  margin-bottom: 21px;
}

.product-card__title {
  margin: 0;
  font: var(--font-oswald-xlarge);
  text-transform: uppercase;
  margin-bottom: 14px;
  color: var(--color-text-fivefold);
}

.product-card__link {
  display: block;
}

.product-card__picture {
  padding: 10.5px 36px;
}

.product-card__picture--big {
  padding: 3.5px 28px;
}

.product-card__features {
  font: var(--font-lato-small-high);
  display: grid;
  grid-template-columns: repeat(2, 70px);
  margin: 0;
  color: var(--color-text-secondary);
}

.product-card__value {
  text-align: right;
  margin: 0;
}

.product-card__button {
  padding: 10px;
}

.show-more {
  border-bottom: 1px solid var(--color-border-catalog);
  padding: 25px 20px;
  border-top: 1px solid var(--color-border-catalog);
}

.show-more__lead {
  margin: 0;
  font: var(--font-oswald-xlarge);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: var(--color-text-quaternary);
}

.show-more__lead::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 23px;
  background-image: url("../../../img/showmore-plus.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.show-more__description {
  margin: 0;
  font: var(--font-lato-small-high);
  color: var(--color-text-secondary);
  text-align: center;
  margin-bottom: 21px;
}

.show-more__button {
  padding: 10px;
}

.extra-catalog {
  padding: 0 20px 35px;
}

.extra-catalog__title {
  margin: 0;
  font: var(--font-oswald-header);
  padding-bottom: 36px;
  border-bottom: 1px solid var(--color-border-catalog);
  color: var(--color-text-primary);
}

.extra-catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.extra-catalog__item {
  padding: 13px 0 19px;
  border-bottom: 1px solid var(--color-border-catalog);
}

.extra-card__link {
  color: var(--color-text-fivefold);
}

.extra-card__title {
  margin: 0;
  font: var(--font-oswald-base);
  text-transform: uppercase;
  margin-bottom: 13px;
  color: var(--color-text-fivefold);
}

.extra-card__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.extra-card__pack {
  font: var(--font-lato-base-small);
  color: var(--color-text-secondary);
}

.extra-card__price {
  font: var(--font-lato-base-small);
  color: var(--color-text-secondary);
}

.extra-card__button {
  padding: 10px;
}

.promo__wrapper {
  width: 280px;
  height: 290px;
  padding: 0 20px;
  background-image: url("../../../img/background-promo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.promo__wrapper::after {
  position: absolute;
  content: "";
  width: 280px;
  height: 290px;
  top: 0;
  background-color: var(--color-background-brand);
  opacity: 85%;
}

.promo__description {
  margin: 0;
  font: var(--font-lato-xlarge);
  padding-top: 59px;
  text-align: center;
  color: var(--color-text-tertiary);
  z-index: 1;
  position: relative;
}

.promo__description::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../img/promo-icon.svg");
}

.worksheet {
  padding-top: 27px;
  padding-bottom: 32px;
}

.worksheet__title {
  margin: 0;
  font: var(--font-oswald-header-large);
  margin-bottom: 37px;
  padding: 0 20px;
  color: var(--color-text-primary);
}

.worksheet__fill {
  margin: 0;
  font: var(--font-oswald-small-average);
  text-transform: uppercase;
  padding: 0 20px;
  margin-bottom: 39px;
  color: var(--color-text-primary);
}

.worksheet__group:nth-child(-n+2) {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 24px;
}

.worksheet__group {
  border: none;
  margin: 0;
  padding: 0;
  padding: 0 20px;
}

.worksheet__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font: var(--font-oswald-large);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: var(--color-text-secondary);
}

.worksheet__item {
  display: flex;
  gap: 13px;
  align-items: center;
  width: 100%;
}

.worksheet__input {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font: var(--font-oswald-large);
  text-transform: uppercase;
  width: 100%;
  padding: 14px 15px 13px;
  border: 1px solid var(--color-input-quiet);
  color: var(--color-text-secondary);
}

.worksheet__legend {
  font: var(--font-oswald-header-small);
  margin-bottom: 35px;
  color: var(--color-text-primary);
}

.worksheet__textarea {
  font: var(--font-oswald-large);
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  padding: 14px 14px 14px 15px;
  border: 1px solid var(--color-input-quiet);
  color: var(--color-text-primary);
}

.worksheet__label {
  white-space: nowrap;
}

.worksheet__control {
  display: flex;
  align-items: center;
  gap: 7.5px;
}

.worksheet__action {
  padding: 0 20px;
}

.worksheet__button {
  padding: 10px;
  margin-bottom: 21px;
}

.worksheet__note {
  margin: 0;
  font: var(--font-lato-base-average);
  color: var(--color-text-primary);
  text-align: center;
}

.worksheet__group--info {
  margin-bottom: 22px;
}

.worksheet__group--purpose {
  margin-bottom: 26px;
}

.worksheet__group--contacts {
  margin-bottom: 24px;
}

.worksheet__group--comment {
  margin-bottom: 23px;
}

.worksheet__group--extra {
  margin-bottom: 34px;
}
/*# sourceMappingURL=style.css.map */