.worksheet {
  padding-top: 27px;
  padding-bottom: 32px;
}

.worksheet__title {
  @include gap-reset;
  font: var(--font-oswald-header-large);
  margin-bottom: 37px;
  padding: 0 20px;
  color: var(--color-text-primary);
}

.worksheet__fill {
  @include gap-reset;
  font: var(--font-oswald-small-average);
  text-transform: uppercase;
  padding: 0 20px;
  margin-bottom: 39px;
  color: var(--color-text-primary);
}

.worksheet__group:nth-child(-n+2) {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 24px;
}

.worksheet__group {
  @include fieldset-reset;
  padding: 0 20px;
}

.worksheet__list {
  @include list-reset;
  font: var(--font-oswald-large);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: var(--color-text-secondary);
}

.worksheet__item {
  display: flex;
  gap: 13px;
  align-items: center;
  width: 100%;
}

.worksheet__input {
  @include list-reset;
  font: var(--font-oswald-large);
  text-transform: uppercase;
  width: 100%;
  padding: 14px 15px 13px;
  border: 1px solid var(--color-input-quiet);
  color: var(--color-text-secondary);
}

.worksheet__legend {
  font: var(--font-oswald-header-small);
  margin-bottom: 35px;
  color: var(--color-text-primary);
}

.worksheet__textarea {
  font: var(--font-oswald-large);
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  padding: 14px 14px 14px 15px;
  border: 1px solid var(--color-input-quiet);
  color: var(--color-text-primary);
}

.worksheet__label {
  white-space: nowrap;
}

.worksheet__control {
  display: flex;
  align-items: center;
  gap: 7.5px;
}

.worksheet__action {
  padding: 0 20px;
}

.worksheet__button {
  padding: 10px;
  margin-bottom: 21px;
}

.worksheet__note {
  @include gap-reset;
  font: var(--font-lato-base-average);
  color: var(--color-text-primary);
  text-align: center;
}

.worksheet__group--info {
  margin-bottom: 22px;
}

.worksheet__group--purpose {
  margin-bottom: 26px;
}

.worksheet__group--contacts {
  margin-bottom: 24px;
}

.worksheet__group--comment {
  margin-bottom: 23px;
}

.worksheet__group--extra {
  margin-bottom: 34px;
}
