.worksheet__title {
  @include gap-reset;
  @include font-oswald-regular (36px, 36px, $color-text-primary);
  margin-bottom: 37px;
  padding: 27px 20px 0;
  border-top: 1px solid $color-border;
}

.worksheet__fill {
  @include gap-reset;
  @include font-oswald-regular (14px, 18px, $color-text-primary);
  text-transform: uppercase;
  padding: 0 20px;
  margin-bottom: 39px;
}

.worksheet__group:nth-child(-n+2) {
  border-bottom: 1px solid $color-border;
  padding-bottom: 24px;
}

.worksheet__group {
  @include fieldset-reset;
  padding: 0 20px;

  margin-bottom: 22px;
}

.worksheet__list {
  @include list-reset;
  @include font-oswald-regular (16px, 18px, $color-text-secondary);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.worksheet__item {
  display: flex;
  gap: 13px;
  align-items: center;
  width: 100%;
}

.worksheet__input {
  @include list-reset;
  @include font-oswald-regular (16px, 18px, $color-text-secondary);
  text-transform: uppercase;
  padding: 14px 15px 13px;
  border: 1px solid $color-input-quiet;
  width: 100%;
}

.worksheet__legend {
  @include font-oswald-regular (24px, 26px, $color-text-primary);
  margin-bottom: 35px;
}

.worksheet__textarea {
  @include font-oswald-regular (16px, 18px, $color-text-primary);
  text-transform: uppercase;
  border: 1px solid $color-input-quiet;
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  padding: 14px 14px 14px 15px;
}

.worksheet__label {
  white-space: nowrap;
}

.worksheet__control {
  display: flex;
  align-items: center;
  gap: 7.5px;
}

.worksheet__action {
  padding: 0 20px;
  margin-top: 12px;
  margin-bottom: 32px;
}

.worksheet__button {
  min-width: 280px;
  padding: 10px;
  margin-bottom: 21px;
}

.worksheet__note {
  @include gap-reset;
  @include font-lato (14px, 16px, $color-text-primary);
  text-align: center;
}
