.header {
  display: flex;
  align-items: center;
  padding: 13px 20px 15px;
  font: var(--font-primary-xxlarge);
  text-transform: uppercase;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);

  @media (width >= $tablet-width) {
    padding: 25px 30px;
  }

  @media (width >= $desktop-width) {
    padding: 55px 110px;
    font: var(--font-primary-xxxlarge);
  }
}

.header__logo {
  margin-right: 56px;

  @media (width >= $tablet-width) {
    width: 60px;
    height: 50px;
    margin-right: 13px;
  }

  @media (width >= $desktop-width) {
    width: 70px;
    height: 59px;
    margin-right: 14px;
  }
}

.header__logo-letters {
  margin-right: 65px;

  @media (width >= $tablet-width) {
    margin-right: 94px;
  }

  @media (width >= $desktop-width) {
    margin-right: auto;
  }
}

.header__logo-name {
  width: 101px;
}

.header__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header--alternative {
  border-bottom: 1px solid var(--color-border);

  @media (width >= $tablet-width) {
    border: none;
  }
}
