:root {
  --font-primary-header-xxlarge: 400 60px/60px "Oswald", sans-serif;
  --font-primary-header-xlarge:  400 36px/40px "Oswald", sans-serif;
  --font-primary-header-large:   400 36px/36px "Oswald", sans-serif;
  --font-primary-header-medium:  400 24px/37px "Oswald", sans-serif;
  --font-primary-header-small:   400 24px/26px "Oswald", sans-serif;
  --font-primary-header:         400 24px/24px "Oswald", sans-serif;
  --font-primary-xxxlarge:       400 20px/30px "Oswald", sans-serif;
  --font-primary-xxxlarge-low:   400 20px/26px "Oswald", sans-serif;
  --font-primary-xxxlarge-lower: 400 20px/20px "Oswald", sans-serif;
  --font-primary-xxlarge:        400 18px/24px "Oswald", sans-serif;
  --font-primary-xlarge:         400 16px/20px "Oswald", sans-serif;
  --font-primary-large:          400 16px/18px "Oswald", sans-serif;
  --font-primary-base:           400 16px/16px "Oswald", sans-serif;
  --font-primary-small-high:     400 14px/20px "Oswald", sans-serif;
  --font-primary-small-average:  400 14px/18px "Oswald", sans-serif;
  --font-primary-small-low:      400 14px/14px "Oswald", sans-serif;

  --font-secondary-xxlarge:      400 16px/24px "Lato", sans-serif;
  --font-secondary-xlarge:       400 16px/20px "Lato", sans-serif;
  --font-secondary-xlarge-low:   400 16px/16px "Lato", sans-serif;
  --font-secondary-large:        400 14px/20px "Lato", sans-serif;
  --font-secondary-base:         400 14px/18px "Lato", sans-serif;
  --font-secondary-base-average: 400 14px/16px "Lato", sans-serif;
  --font-secondary-base-low:     400 14px/14px "Lato", sans-serif;
  --font-secondary-small-high:   400 12px/16px "Lato", sans-serif;
  --font-secondary-small-low:    400 12px/12px "Lato", sans-serif;

  --color-background-brand:      #68b738;
  --color-background-brand-dark: #5eaa2f;
  --color-background-primary:    #ffffff;
  --color-background-secondary:  #f2f2f2;
  --color-background-tertiary:   #eaeaea;
  --color-text-primary:          #000000;
  --color-text-secondary:        #444444;
  --color-text-tertiary:         #ffffff;
  --color-text-quaternary:       #111111;
  --color-text-fivefold:         #222222;
  --color-button:                #68b738;
  --color-button-light:          #f2f2f2;
  --color-border:                #d9d9d9;
  --color-border-light:          #e6e6e6;
  --color-border-catalog:        #ebebeb;
  --color-border-extra:          #cdcdcd;
  --color-border-showmore:       #f2f2f2;
  --color-slider:                #666666;
  --color-social-icon:           #666666;
  --color-input-quiet:           #e7e7e7;
  --color-input-hover:           #cdcdcd;
  --color-input-focus:           #444444;
  --color-input-error:           #ff8282;
  --color-plus-showmore:         #d3d3d3;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}
