@import "../common-blocks/vars";
@import "../common-blocks/mix";

.page-footer__logo {
  display: flex;
  justify-content: center;
  min-width: 128px;
  border-bottom: 1px solid $color-border;
  padding-bottom: 20px;
}

.page-footer__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  background-color: $color-background-secondary;
}

.page-footer__partner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-footer__partner-link {
  font: var(--font-lato-xlarge);
  color: $color-text-secondary;
}

.page-footer__contacts--dark {
  background-color: $color-background-secondary;
}

