.button {
  font: var(--font-primary-xlarge);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  color: var(--color-text-tertiary);
  background-color: var(--color-button);
}

.button--light {
  color: var(--color-text-secondary);
  background-color: var(--color-button-light);
}
