$color-brand:                #68b738;
$color-brand-dark:           #5eaa2f;
$color-background-primary:   #ffffff;
$color-background-secondary: #f2f2f2;
$color-background-tertiary:  #eaeaea;
$color-text-primary:         #000000;
$color-text-secondary:       #444444;
$color-text-tertiary:        #ffffff;
$color-text-quaternary:      #111111;
$color-text-fivefold:        #222222;
$color-border:               #d9d9d9;
$color-border-light:         #e6e6e6;
$color-border-catalog:       #ebebeb;
$color-border-extra:         #cdcdcd;
$color-border-showmore:      #f2f2f2;
$color-slider:               #666666;
$color-social-icon:          #666666;
$color-input-quiet:          #e7e7e7;
$color-input-hover:          #cdcdcd;
$color-input-focus:          #444444;
$color-input-error:          #ff8282;
$color-plus-showmore:        #d3d3d3;

$mobile-width: 320px;
