@import "../common-blocks/var";

@import "../common-blocks/mix";

.diet-plans__container {
  margin-bottom: 20px;
  padding: 0 20px;
}

.diet-plans__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.diet-plans__item {
  background-color: $color-background-secondary;
  padding: 0 20px;
}

.diet-plans__title {
  @include font-oswald-regular (24px, 37px, $color-text-primary);
  @include gap-reset;
  text-transform: uppercase;
  margin-bottom: 29px;
  text-align: center;
}

.diet-plans__description {
  @include font-lato (14px, 18px, $color-text-secondary);
  @include gap-reset;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid $color-border;
}

.diet-plans__link {
  display: block;
  text-decoration: none;
  @include font-oswald-regular (16px, 16px, $color-text-primary);
  text-transform: uppercase;
  margin-bottom: 18px;
  position: relative;
}

.diet-plans__link::after {
  position: absolute;
  display: block;
  content: "";
  width: 32px;
  height: 10px;
  background-image: url("../../../img/icon-arrow.svg");
  background-repeat: no-repeat;
  left: 102px;
  top: 3px;
}
