.diet-plans__container {
  padding: 0 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 110px;
  }
}

.diet-plans__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.diet-plans__item {
  background-color: var(--color-background-secondary);
  padding: 0 20px 18px ;

  @media (min-width: $tablet-width) {
    padding: 77px 53px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
    padding: 47px 52px 59px;
  }
}

.diet-plans__title {
  @include gap-reset;
  font: var(--font-primary-header-medium);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
  color: var(--color-text-primary);

  @media (min-width: $tablet-width) {
    font: var(--font-primary-header-large);
    text-align: left;
  }
}

.diet-plans__description {
  @include gap-reset;
  font: var(--font-secondary-base);
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text-secondary);

  @media (min-width: $tablet-width) {
    border:none;
    font: var(--font-secondary-xxlarge);
    padding: 0;
    margin-bottom: 52px;
  }
}

.diet-plans__link {
  font: var(--font-primary-base);
  display: block;
  text-transform: uppercase;
  position: relative;
  color: var(--color-text-primary);
}

.diet-plans__link::after {
  position: absolute;
  display: block;
  content: "";
  width: 32px;
  height: 10px;
  background-image: url("../../../img/icon-arrow.svg");
  background-repeat: no-repeat;
  left: 102px;
  top: 3px;
}
