.extra-catalog {
  padding: 26px 20px 35px;

  @media (width >= $tablet-width) {
    padding: 0 30px 75px;
  }

  @media (width >= $desktop-width) {
    padding: 0 110px;
    margin-bottom: 87px;
  }
}

.extra-catalog__title {
  @include gap-reset;
  font: var(--font-primary-header);
  margin-bottom: 36px;
  color: var(--color-text-primary);

  @media (width >= $tablet-width) {
    font: var(--font-primary-header-large);
    margin-bottom: 80px;
    border: none;
  }

  @media (width >= $desktop-width) {
    padding-bottom: 80px;
    margin: 0;
  }
}

.extra-catalog__list {
  @include list-reset;

  @media (width >= $tablet-width) {
    margin-bottom: 70px;
  }

  @media (width >= $desktop-width) {
    flex-grow: 1;
    border-top: 1px solid var(--color-border-extra);
    margin: 0;
  }
}

.extra-catalog__item {
  padding: 13px 0 19px;
  border-top: 1px solid var(--color-border-extra);

  @media ($tablet-width <= width < $desktop-width) {
    padding: 26px 38px 27px;
    border: 1px solid var(--color-border-extra);
    border-bottom: none;
    &:last-child {
      border: 1px solid var(--color-border-extra);
    }
  }

  @media (width >= $desktop-width) {
    border: none;
    border-bottom: 1px solid var(--color-border-extra);
    padding: 15px 0 17px;
  }
}

.extra-catalog__wrapper {
  @media (width >= $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 81px;
  }
}
