@import "../common-blocks/vars";
@import "../common-blocks/mix";

.extra-card__link {
  color: $color-text-fivefold;
}

.extra-card__title {
  @include gap-reset;
  font: var(--font-oswald-base);
  text-transform: uppercase;
  margin-bottom: 13px;
  color: $color-text-fivefold;
}

.extra-card__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.extra-card__pack {
  font: var(--font-lato-base-small);
  color: $color-text-secondary;
}

.extra-card__price {
  font: var(--font-lato-base-small);
  color: $color-text-secondary;
}

.extra-card__button {
  padding: 10px;
}
