@import "../common-blocks/var";
@import "../common-blocks/mix";

.extra-card__link {
  text-decoration: none;
  color: $color-text-fivefold;
}

.extra-card__title {
  @include font-oswald-regular (16px, 16px, $color-text-fivefold);
  @include gap-reset;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.extra-card__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.extra-card__pack {
  @include font-lato (14px, 14px, $color-text-secondary);
}

.extra-card__price {
  @include font-lato (14px, 14px, $color-text-secondary);
}

.extra-card__button {
  min-width: 280px;
  padding: 10px;
}
