.products-catalog {
  padding-top: 27px;

  @media (width >= $tablet-width) {
    padding: 40px 30px 70px;
  }

  @media (width >= $desktop-width) {
    padding: 19px 110px 76px;
  }
}

.products-catalog__title {
  @include gap-reset;
  font: var(--font-primary-header-large);
  margin-bottom: 41px;
  padding: 0 20px;
  color: var(--color-text-primary);

  @media (width >= $tablet-width) {
    font: var(--font-primary-header-xxlarge);
    text-align: left;
    margin-bottom: 84px;
  }
}

.products-catalog__list {
  @include list-reset;

  @media (width >= $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }

  @media (width >= $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.products-catalog__item {
  border-top: 1px solid var(--color-border-catalog);
  padding: 20px 20px 25px;

  @media (width >= $tablet-width) {
    border: none;
    padding: 0 37px 40px;
    background-color: var(--color-background-secondary);
  }
}
