.products-catalog__title {
  @include gap-reset;
  font: var(--font-oswald-header-large);
  margin-bottom: 41px;
  text-align: center;
  color: $color-text-primary;
}

.products-catalog__list {
  @include list-reset;
}

.products-catalog__item {
  border-top: 1px solid $color-border-catalog;
  padding: 20px 20px 25px;
}

