.promo__wrapper {
  width: 280px;
  height: 290px;
  background-image: url("../../../img/background-promo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  @media (width >=$tablet-width) {
    width: 707px;
    height: 200px;
    padding: 0;
  }

  @media (width >=$desktop-width) {
    width: 245px;
    height: 288px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 280px;
    height: 290px;
    top: 0;
    background-color: var(--color-background-brand);
    opacity: 85%;

    @media (width >=$tablet-width) {
      width: 707px;
      height: 200px;
    }

    @media (width >=$desktop-width) {
      width: 245px;
      height: 288px;
    }
  }
}

.promo__description {
  @include gap-reset;
  font: var(--font-secondary-xlarge);
  padding-top: 59px;
  text-align: center;
  color: var(--color-text-tertiary);
  z-index: 1;
  position: relative;

  @media (width >=$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 77px;
    padding-right: 125px;
  }

  @media (width >=$desktop-width) {
    flex-direction: column;
    padding: 0;
    padding-top: 56px;
  }
}

.promo__description::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../img/promo-icon.svg");

  @media (width >=$tablet-width) {
    width: 80px;
    height: 83px;
    margin: 0;
  }

  @media (width >=$desktop-width) {
    margin-bottom: 46px;
  }
}

