 .show-more {
   border-bottom: 1px solid $color-border-catalog;
   padding: 25px 20px;
   margin-bottom: 26px;
   border-top: 1px solid $color-border-catalog;
 }

 .show-more__lead {
   @include font-oswald-regular (16px, 20px, $color-text-quaternary);
   @include gap-reset;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 8px;
 }

 .show-more__lead::before {
   content: "";
   display: block;
   width: 30px;
   height: 30px;
   margin: 0 auto;
   margin-bottom: 23px;
   background-image: url("../../../img/showmore-plus.svg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
 }

 .show-more__description {
   @include font-lato (12px, 16px, $color-text-secondary);
   @include gap-reset;
   text-align: center;
   margin-bottom: 21px;
 }

 .show-more__button {
   min-width: 280px;
   padding: 10px;
 }
